<div style="border:1px #ccc solid;margin-left:-20px;margin-right:20px;box-shadow:1px 1px 1px 0px #ccc;margin-top:10px;padding:20px;border-radius:5px">
  <h4>{{answer-popularity question}} {{#link-to 'question' question.id}}{{question.title}}{{/link-to}}</h4>
  <p>By {{question.author}}</p>
  <hr>
  {{#link-to 'question' question.id}}<h4>Answers ({{commentCount}})</h4>{{/link-to}}
  <button style="float:left;"{{action 'delete' question}}>Delete</button>{{update-question question=question update="update"}}<button style="float: right;" {{action 'addToReadingList' question}}>Add to Reading List</button>
</div>
