{{#if updateQuestionForm}}
    <div>
      <form>
        <div class="form-group">
          <label for="title">Title</label>
          {{input value=title id="title" placeholder=question.title}}
        </div>

        <div class="form-group">
          <label for="author">Author</label>
          {{input value=author id="author" placeholder=question.author}}
        </div>

        <div class="form-group">
          <label for="contents">Contents</label>
          {{input value=contents id="contents" placeholder=question.contents}}
        </div>

        <div class="form-group">
          <label for="notes">Notes</label>
          {{input value=notes id="notes" placeholder=question.notes}}
        </div>

        <button {{action 'update' question}}>Save</button>
      </form>
    </div>
{{else}}
    <button {{action 'updateQuestionForm'}}>Update</button>
{{/if}}
